/* /src/css/main.css */
@import './dashboard.css'; /* Importa os estilos específicos do dashboard */

:root {
    --primary-blue: #004a7f;
    --light-blue: #eaf2f8;
    --text-color: #333;
    --text-light: #6c757d;
    --bg-color: #f8f9fa;
    --white-color: #fff;
    --border-color: #dee2e6;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    line-height: 1.6;
}
#app {
    /* Removido max-width e padding daqui, pois serão definidos nos containers internos */
}